@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
  height: 100%;
	background: rgb(27, 28, 35);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  color: #777
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 200;
  padding: 10px 0;
  background: #6698da;
  background-size: cover;
}

.TextWrap {
  float: right;
  margin: 10px;
  margin-right: 2in;
}

footer {
  width: 100%;
  height: 100px;
  margin: 0;
  background-color: rgb(68, 67, 67);
  position: static;
  background-size: cover;
  bottom: 0px;
}

.contact_link {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.contact_text {
  margin-bottom: 5px;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
}

.content {
  margin-left: 2in;
  margin-right: 2in;
  /*padding-left: 2in;*/
  font-size: 180%;
}

.game_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 1in;
  padding-right: 1in;
  margin-top: 0.25in;
}

.game_tile {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 100%;
  width: 306px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game_div {
  margin: 30px;
}

.game_thumb {
  width: 350px;
  height: 277px;
}

.game_ss {
  width: 443px;
  height: 277px;
  margin: 0.1in
}


.game_text {
  overflow-wrap: normal;
  margin-left: 2in;
  margin-right: 2in;
  color:rgb(128, 128, 128);
  font-size: 125%;
  display:block;
  text-align: center;
}

.game_title {
  display:block;
  width: 100%;
  text-align: center;
  color: #6698da;
  font-family: verdana;
  font-size: 200%;
  margin-bottom: 15px;
}

.sub_title {
  display:block;
  width: 100%;
  text-align: center;
  color: #6698da;
  font-family: Georgia;
  font-size: 150%;
  margin-bottom: 15px;
}

.role_title {
  display:block;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 100%;
  margin-bottom: 15px;
}

.large_title {
  display:block;
  width: 100%;
  text-align: center;
  color: #6698da;
  font-family: Georgia;
  font-size: 250%;
  margin-bottom: 15px;
}

.below_text {
  display:block;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

h1 {
  margin: 0;
  background-image: url("images/tileable_wood.jpg");
  text-align: center;
  padding: 100px 0;
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 300%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
